[gcode_macro PRINT_START]
gcode:
    {% set extruder_temp = params.EXTRUDER | default(220) | float %}

    CLEAR_PAUSE                                         ; Clear Pause
    SET_SKEW XY=3.484,3.499,2.458 XZ=2.751,2.805,1.969 YZ=2.802,2.745,1.969
    # M190 S{bed_temp}                                  ; Heat bed_temp and wait
    M104 S{extruder_temp}                               ; Set final extruder temperature
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28                                             ; Home if needed
        # SetPosZero                                    ; unnedded setPoszero is in home override
    {% endif %}
    G0 X1 Y1 Z10 F1000                                  ; Move to front-left to heat nozzle
    M109 S{extruder_temp}                               ; Set extruder temp and wait
    ADAPTIVE_LINE_PURGE                                 ; Adaptive Purge

[gcode_macro PRINT_END]
gcode:
    M106 S0             ; Turn-off fan
    M104 S0             ; Turn-off hotend
    G91                 ; Relative positioning
    G1 E-2 F2700        ; Retract a bit
    G1 E-2 Z0.2 F2400   ; Retract and raise Z
    # G0 X5 Y5 F3000      ; Wipe out
    G0 Z5              ; Raise Z more
    G90                 ; Absolute positioning
    SET_SKEW CLEAR=1
    G0 X99 Y99 Z99      ; Present print
    M84                 ; Disable stepper motors

############################################################################################################  
#   Adaptive Line Purge Macro (Modified from https://github.com/kyleisah/Klipper-Adaptive-Meshing-Purging)
############################################################################################################ 

[gcode_macro ADAPTIVE_LINE_PURGE]
variable_purge_height: 0.8  # Z position of nozzle during purge, default is 0.8 mm.
variable_tip_distance: 4    # Distance in mm between tip of filament and nozzle before purge. Should be similar to PRINT_END final retract amount.
variable_purge_margin: 5    # Distance the purge will be in front of the print area, default is 10 mm.
variable_purge_amount: 10   # Amount of filament in mm to be purged prior to printing.
variable_flow_rate: 5       # Flow rate of purge in mm3/s. Default is 12.
variable_bed_y_min: 0     # bed min y
variable_bed_y_max: 100     # bed max y
variable_bed_x_min: 0     # bed min x
variable_bed_x_max: 100      # bed max x
gcode:
    {% set travel_speed = printer.toolhead.max_velocity * 60 %}
    {% set cross_section = printer.configfile.settings.extruder.max_extrude_cross_section | float %}
    {% set RETRACT = 'G10' if printer.firmware_retraction is defined else 'G1 E-0.5 F2100' %}
    {% set UNRETRACT = 'G11' if printer.firmware_retraction is defined else 'G1 E0.5 F2100' %}

    {% set all_points = printer.exclude_object.objects | map(attribute='polygon') | sum(start=[]) %}
    {% set x_min = (all_points | map(attribute=0) | min | default(bed_x_min)) %}
    {% set x_max = (all_points | map(attribute=0) | max | default(bed_x_max)) %}
    {% set y_min = (all_points | map(attribute=1) | min | default(bed_y_min)) %}
    {% set y_max = (all_points | map(attribute=1) | max | default(bed_y_max)) %}

    {% set x_center = (((x_max + x_min) / 2) - (purge_amount / 2)) %}
    {% set y_center = (((y_max + y_min) / 2) - (purge_amount / 2)) %}

    {% set x_origin_left  = (x_min - purge_margin) %}
    {% set x_origin_right = (x_max + purge_margin) %}
    {% set y_origin_front = (y_min - purge_margin) %}
    {% set y_origin_back  = (y_max + purge_margin) %}

    {% set purge_move_speed = (flow_rate / 5.0) * 60 | float %}

    {% if cross_section < 5 %}
        {action_respond_info("[Extruder] max_extrude_cross_section is insufficient for purge. Set it to 5 or greater. Purge skipped.")}
    {% else %}
        {% set purge_dir =
        "front" if y_origin_front > bed_y_min else
        "left"  if x_origin_left > bed_x_min else
        "right" if x_origin_right < bed_x_max else
        "back"  if y_origin_back < bed_y_max else
        "none" %}

        {% if purge_dir != "none" %}
            SAVE_GCODE_STATE NAME=prepurge_state

            G92 E0
            G0 F{travel_speed}
            G90

            {% if purge_dir == "front" %}
                G0 X{x_center} Y{y_origin_front}
                G0 Z{purge_height}
                M83
                G1 E{tip_distance} F{purge_move_speed}
                G1 X{x_center + purge_amount} E{purge_amount} F{purge_move_speed}
                {RETRACT}

            {% elif purge_dir == "left" %}
                G0 X{x_origin_left} Y{y_center}
                G0 Z{purge_height}
                M83
                G1 E{tip_distance} F{purge_move_speed}
                G1 Y{y_center + purge_amount} E{purge_amount} F{purge_move_speed}
                {RETRACT}

            {% elif purge_dir == "right" %}
                G0 X{x_origin_right} Y{y_center}
                G0 Z{purge_height}
                M83
                G1 E{tip_distance} F{purge_move_speed}
                G1 Y{y_center + purge_amount} E{purge_amount} F{purge_move_speed}
                {RETRACT}

            {% elif purge_dir == "back" %}
                G0 X{x_center} Y{y_origin_back}
                G0 Z{purge_height}
                M83
                G1 E{tip_distance} F{purge_move_speed}
                G1 X{x_center + purge_amount} E{purge_amount} F{purge_move_speed}
                {RETRACT}
            {% endif %}

            G0 Z{purge_height * 2} F{travel_speed}
            {UNRETRACT}
            G92 E0
            M82

            RESTORE_GCODE_STATE NAME=prepurge_state
        {% endif %}
    {% endif %}


[gcode_macro OFF]
gcode:
    M84                 ; Turn steppers off
    TURN_OFF_HEATERS    ; Turn bed_temp / hotend off
    M107                ; Turn print cooling fan off

[gcode_macro PID_EXTRUDER]
gcode:
  {% set target = params.TARGET | default(220) | float %}
  PID_CALIBRATE HEATER=extruder TARGET={target}
  SAVE_CONFIG

#####################################################################
#   Klipper G-Code Overrides
#####################################################################

[gcode_macro M109]
rename_existing: M99109
gcode:
    {% set s = params.S | float %}
    
    M104 {% for p in params %} {'%s%s' % (p, params[p])} {% endfor %}   ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-2} MAXIMUM={s+2}      ; Wait for hotend temp (within 1 degree)
    {% endif %}
