[gcode_macro PRINT_START]
gcode:
    {% set bed_temp = params.BED | default(60) | float %}
    {% set extruder_temp = params.EXTRUDER | default(220) | float %}

    UPDATE_DELAYED_GCODE ID=COOLDOWN_TIMER DURATION=0  ; clear Cooldown timer
    CLEAR_PAUSE                                     ; Clear Pause
    SET_SKEW YZ=2.817,2.757,1.965                   ; YZ axis skew
    M190 S{bed_temp}                                ; Heat bed_temp and wait
    M104 S150                                       ; Preheat extruder to 150°C
    G28                                             ; Home all axes
    BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN=5 ; Start Adaptive Bed Leveling 
    G0 X1 Y1 Z1 F5000                               ; Move to front-left to heat nozzle
    M109 S150                                       ; Set extruder temp and wait
    PRTOUCH_PROBE_ZOFFSET                           ; Probe Nozzle
    G0 X1 Y1 Z1 F5000                               ; Move to front-left to heat nozzle
    M109 S{extruder_temp}                           ; Set extruder temp and wait
    ADAPTIVE_LINE_PURGE                             ; Adaptive Purge

[gcode_macro PRINT_END]
gcode:
    G91                 ; Relative positioning
    G1 E-2 F2700        ; Retract a bit
    G1 E-2 Z0.2 F2400   ; Retract and raise Z
    G0 X5 Y5 F3000      ; Wipe out
    G0 Z10              ; Raise Z more
    SET_SKEW CLEAR=1
    G90                 ; Absolute positioning
    G0 X0 Y220          ; Present print
    M106 S0             ; Turn-off fan
    M104 S150
    M140 S50
    M84                 ; Disable stepper motors
    UPDATE_DELAYED_GCODE ID=COOLDOWN_TIMER DURATION=300  ; 300 seconds = 5 minutes

[delayed_gcode COOLDOWN_TIMER]
gcode:
    OFF
    
[gcode_macro OFF]
gcode:
    M106 S0             ; Turn-off fan
    M104 S0             ; Turn-off hotend
    M140 S0             ; Turn-off bed_temp
    M84                 ; Disable stepper motors

[gcode_macro PROBE_ZOFFSET]
gcode:
    PRTOUCH_PROBE_ZOFFSET

############################################################################################################  
#   Adaptive Line Purge Macro (Modified from https://github.com/kyleisah/Klipper-Adaptive-Meshing-Purging)
############################################################################################################ 

[gcode_macro ADAPTIVE_LINE_PURGE]
variable_purge_height: 0.8  # Z position of nozzle during purge, default is 0.8 mm.
variable_tip_distance: 4    # Distance in mm between tip of filament and nozzle before purge. Should be similar to PRINT_END final retract amount.
variable_purge_margin: 5    # Distance the purge will be in front of the print area, default is 10 mm.
variable_purge_amount: 10   # Amount of filament in mm to be purged prior to printing.
variable_flow_rate: 5       # Flow rate of purge in mm3/s. Default is 12.
variable_bed_y_min: 0       # bed min y
variable_bed_y_max: 220     # bed max y
variable_bed_x_min: 0       # bed min x
variable_bed_x_max: 220     # bed max x
gcode:
    {% set travel_speed = printer.toolhead.max_velocity * 60 %}
    {% set cross_section = printer.configfile.settings.extruder.max_extrude_cross_section | float %}
    {% set RETRACT = 'G10' if printer.firmware_retraction is defined else 'G1 E-0.5 F2100' %}
    {% set UNRETRACT = 'G11' if printer.firmware_retraction is defined else 'G1 E0.5 F2100' %}

    {% set all_points = printer.exclude_object.objects | map(attribute='polygon') | sum(start=[]) %}
    {% set x_min = (all_points | map(attribute=0) | min | default(bed_x_min)) %}
    {% set x_max = (all_points | map(attribute=0) | max | default(bed_x_max)) %}
    {% set y_min = (all_points | map(attribute=1) | min | default(bed_y_min)) %}
    {% set y_max = (all_points | map(attribute=1) | max | default(bed_y_max)) %}

    {% set x_center = (((x_max + x_min) / 2) - (purge_amount / 2)) %}
    {% set y_center = (((y_max + y_min) / 2) - (purge_amount / 2)) %}

    {% set x_origin_left  = (x_min - purge_margin) %}
    {% set x_origin_right = (x_max + purge_margin) %}
    {% set y_origin_front = (y_min - purge_margin) %}
    {% set y_origin_back  = (y_max + purge_margin) %}

    {% set purge_move_speed = (flow_rate / 5.0) * 60 | float %}

    {% if cross_section < 5 %}
        {action_respond_info("[Extruder] max_extrude_cross_section is insufficient for purge. Set it to 5 or greater. Purge skipped.")}
    {% else %}
        {% set purge_dir =
        "front" if y_origin_front > bed_y_min else
        "left"  if x_origin_left > bed_x_min else
        "right" if x_origin_right < bed_x_max else
        "back"  if y_origin_back < bed_y_max else
        "none" %}

        {% if purge_dir != "none" %}
            SAVE_GCODE_STATE NAME=prepurge_state

            G92 E0
            G0 F{travel_speed}
            G90

            {% if purge_dir == "front" %}
                G0 X{x_center} Y{y_origin_front}
                G0 Z{purge_height}
                M83
                G1 E{tip_distance} F{purge_move_speed}
                G1 X{x_center + purge_amount} E{purge_amount} F{purge_move_speed}
                {RETRACT}

            {% elif purge_dir == "left" %}
                G0 X{x_origin_left} Y{y_center}
                G0 Z{purge_height}
                M83
                G1 E{tip_distance} F{purge_move_speed}
                G1 Y{y_center + purge_amount} E{purge_amount} F{purge_move_speed}
                {RETRACT}

            {% elif purge_dir == "right" %}
                G0 X{x_origin_right} Y{y_center}
                G0 Z{purge_height}
                M83
                G1 E{tip_distance} F{purge_move_speed}
                G1 Y{y_center + purge_amount} E{purge_amount} F{purge_move_speed}
                {RETRACT}

            {% elif purge_dir == "back" %}
                G0 X{x_center} Y{y_origin_back}
                G0 Z{purge_height}
                M83
                G1 E{tip_distance} F{purge_move_speed}
                G1 X{x_center + purge_amount} E{purge_amount} F{purge_move_speed}
                {RETRACT}
            {% endif %}

            G0 Z{purge_height * 2} F{travel_speed}
            {UNRETRACT}
            G92 E0
            M82

            RESTORE_GCODE_STATE NAME=prepurge_state
        {% endif %}
    {% endif %}

[gcode_macro LOAD_FILAMENT]
variable_load_distance = 40     # Distance to load filament into the extruder
variable_purge_distance = 30    # Distance to purge filament after loading
gcode:
    {% set load_speed = params.LOAD_SPEED | default(1500) | float %}
    {% set purge_speed = params.PURGE_SPEED | default(300) | float %}
    {% set min_temp = params.MIN_TEMP | default(220) | float %}
    {% set turn_off_extruder = params.TURN_OFF_EXTRUDER | default(1) | int %}  ; Turn off extruder after loading (0/1)
    
    SAVE_GCODE_STATE NAME=load_state    ; Create gcode state

    # Heat extruder to the minimum required temperature if necessary
    {% if printer.extruder.temperature < min_temp %}
        M109 S{min_temp} ; Set extruder temp and wait
    {% endif %}

    G91                                 ; Relative positioning
    G92 E0                              ; Reset extruder
    G1 E{load_distance} F{load_speed}   ; Load filament quickly
    G1 E{purge_distance} F{purge_speed} ; Purge filament

    # Optionally turn off the extruder heater after loading
    {% if turn_off_extruder %}
        M104 S0 ; Turn off extruder heater
    {% endif %}

    RESTORE_GCODE_STATE NAME=load_state ; Restore gcode state
    M118 Filament Loaded                ; Notify completion

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance: 80    # Distance to retract filament from the extruder
variable_purge_distance: 20     # Distance to purge filament before unloading
gcode:
    {% set unload_speed = params.UNLOAD_SPEED | default(1500) | float %}
    {% set purge_speed = params.PURGE_SPEED | default(300) | float %}
    {% set min_temp = params.MIN_TEMP | default(220) | float %}
    {% set turn_off_extruder = params.TURN_OFF_EXTRUDER | default(1) | int %}  ; Turn off extruder after unloading (0/1)

    SAVE_GCODE_STATE NAME=unload_state ; Save current printer state

    # Heat extruder to the minimum required temperature if necessary
    {% if printer.extruder.temperature < min_temp %}
        M109 S{min_temp} ; Set extruder temp and wait
    {% endif %}

    G91                                     ; Enable relative positioning
    G92 E0                                  ; Reset extruder position
    G1 E{purge_distance} F{purge_speed}     ; Purge filament
    G1 E-{unload_distance} F{unload_speed}  ; Unload filament

    # Optionally turn off the extruder heater after unloading
    {% if turn_off_extruder %}
        M104 S0 ; Turn off extruder heater
    {% endif %}

    RESTORE_GCODE_STATE NAME=unload_state   ; Restore saved printer state
    M118 Filament Unloaded                  ; Notify completion

[gcode_macro BEEP]
gcode:
    {% set duration = params.P | default(100) | float %}
    SET_PIN PIN=beeper VALUE=1
    G4 P{duration}
    SET_PIN PIN=beeper VALUE=0

[gcode_macro PID_EXTRUDER]
gcode:
  {% set target = params.TARGET | default(220) | float %}
  PID_CALIBRATE HEATER=extruder TARGET={target}
  SAVE_CONFIG

[gcode_macro PID_BED]
gcode:
  {% set target = params.TARGET | default(60) | float %}
  PID_CALIBRATE HEATER=heater_bed TARGET={target}
  SAVE_CONFIG

#####################################################################
#   Klipper G-Code Overrides
#####################################################################

[gcode_macro M109]
rename_existing: M99109
gcode:
    {% set s = params.S | float %}
    
    M104 {% for p in params %} {'%s%s' % (p, params[p])} {% endfor %}   ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-1} MAXIMUM={s+10}      ; Wait for hotend temp (within 1 degree)
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    {% set s = params.S | float %}

    M140 {% for p in params %} {'%s%s' % (p, params[p])} {% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-1} MAXIMUM={s+1}    ; Wait for bed temp (within 1 degree)
    {% endif %}
