
[include fluidd.cfg]
[include macros.cfg]
# This file contains common pin mappings for the 2017 Monoprice
# Mini Delta. To use this config, the firmware should be compiled for the
# STM32F070 microcontroller with an 8MHz crystal and USB for communication.
#
# IMPORTANT: Use of Kipper with a Monoprice Mini Delta requires a power supply
# with a _minimum_ 120 W (i.e. 10 A) capacity! The stock power supply will not
# work, as it can't power the hotend and the bed at the same time.
#
# Note 1: Some controller boards only trigger the bootloader when an update file
# is "printed" from the LCD, rather than supporting bootloader triggering
# during bootup. It may be preferable to use an ST-Link V2 to flash the
# firmware instead. Follow this link for an example of the commands needed to
# do this: https://github.com/arkorobotics/MiniDeltaBootloader
#
# Note 2: Klipper does not currently support the LCD interface used on this
# printer.
#
# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f070xb_3C003D001851534835323720-if00
restart_method: command

[printer]
kinematics: delta
max_velocity: 60
max_accel: 500
max_z_velocity: 60
# minimum_z_position is negative to allow delta calibration to work
minimum_z_position: -10.0
#delta_radius: 63.00
print_radius: 53

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

# Stepper A is the front-left tower, as originally wired. If you've rewired
# your steppers to "correct" this, you'll need to swap these values.
[stepper_a]
homing_speed: 10
second_homing_speed: 2
step_pin: PB12
dir_pin: !PB11
enable_pin: !PB10
microsteps: 16
rotation_distance: 28
endstop_pin: ^PC14
#position_endstop: 125.00
#arm_length: 120.8

[stepper_b]
step_pin: PB2
dir_pin: !PB1
enable_pin: !PB10
microsteps: 16
rotation_distance: 28
endstop_pin: ^PC15
#position_endstop: 125.00

[stepper_c]
step_pin: PB14
dir_pin: !PB13
enable_pin: !PB10
microsteps: 16
rotation_distance: 28
endstop_pin: ^PC13
#position_endstop: 125.00

[extruder]
step_pin: PA7
dir_pin: PA6
enable_pin: !PB0
# enable_pin: PB0 # uncomment for no extruder movements
microsteps: 16
rotation_distance: 31
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 5
max_extrude_only_distance: 500
heater_pin: PA1
max_power: 0.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
smooth_time: 1.5
pressure_advance: 0.75
# calibrated at 240C on stock hardware
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 250
# min_extrude_temp: 0
max_power: 0.5

[heater_bed]
heater_pin: PA5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA4
smooth_time: 3.0
# calibrated at 70C on stock hardware
#control: pid
#pid_kp: 51.249
#pid_ki: 4.437
#pid_kd: 147.983
min_temp: 0
max_temp: 100
max_power: 0.5

# Print cooling fan (omit section if fan not present)
[heater_fan hotend_fan]
pin: PA8
fan_speed: 0.7
cycle_time: 0.03
shutdown_speed: 0.0

[fan]
pin: PA3

[delta_calibrate]
radius: 50
speed: 50
horizontal_move_z: 5

######################################################################
# Bed leveling support
######################################################################

[bed_mesh]
speed: 50
mesh_radius: 50
round_probe_count: 5

######################################################################
# Bed probing hardware
######################################################################

[probe]
pin: ^!PB7
x_offset: 0.0
y_offset: 0.0
#z_offset: -0.5

[force_move]
enable_force_move: True

[exclude_object]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 63.540324
#*#
#*# [stepper_a]
#*# angle = 210.168766
#*# arm_length = 123.069852
#*# position_endstop = 127.666671
#*#
#*# [stepper_b]
#*# angle = 331.479226
#*# arm_length = 121.932139
#*# position_endstop = 126.902744
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 120.165659
#*# position_endstop = 128.413830
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 9.624
#*# pid_ki = 0.425
#*# pid_kd = 54.497
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 22.856
#*# pid_ki = 2.822
#*# pid_kd = 46.283
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.432240, 0.432240, 0.432240, 0.432240, 0.432240
#*# 	  0.833267, 0.833267, 0.659404, 0.682596, 0.682596
#*# 	  0.807581, 0.738191, 0.736053, 0.836304, 0.877454
#*# 	  0.816269, 0.816269, 0.859402, 0.816145, 0.816145
#*# 	  0.877854, 0.877854, 0.877854, 0.877854, 0.877854
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = -50.0
#*# max_x = 50.0
#*# min_y = -50.0
#*# max_y = 50.0
#*#
#*# [probe]
#*# z_offset = -0.437
#*#
#*# [delta_calibrate]
#*# height0 = -0.437
#*# height0_pos = 14662.000,14571.000,14661.000
#*# height1 = -0.437
#*# height1_pos = 18128.000,17928.000,12752.000
#*# height2 = -0.437
#*# height2_pos = 14268.000,20198.000,14234.000
#*# height3 = -0.437
#*# height3_pos = 12827.000,17446.000,17487.000
#*# height4 = -0.437
#*# height4_pos = 14114.000,14078.000,18389.000
#*# height5 = -0.437
#*# height5_pos = 16935.000,12839.000,16970.000
#*# height6 = -0.437
#*# height6_pos = 19251.000,14047.000,14171.000
#*# distance0 = 19.125
#*# distance0_pos1 = 14511.178,14561.224,14689.085
#*# distance0_pos2 = 13469.452,15527.979,15637.219
#*# distance1 = 19.105
#*# distance1_pos1 = 14556.064,14468.189,14736.005
#*# distance1_pos2 = 14122.751,14056.531,16455.020
#*# distance2 = 19.099999999999998
#*# distance2_pos1 = 14647.670,14420.604,14689.085
#*# distance2_pos2 = 15566.788,13364.364,15637.219
#*# distance3 = 19.145000000000003
#*# distance3_pos1 = 14694.403,14465.497,14595.803
#*# distance3_pos2 = 16376.930,14016.400,14164.232
#*# distance4 = 19.075
#*# distance4_pos1 = 14648.997,14558.510,14549.437
#*# distance4_pos2 = 15589.014,15482.399,13490.508
#*# distance5 = 19.09
#*# distance5_pos1 = 14557.381,14606.655,14595.803
#*# distance5_pos2 = 14142.399,16320.066,14164.232
#*# distance6 = 19.195
#*# distance6_pos1 = 13556.627,15329.393,15590.987
#*# distance6_pos2 = 14197.710,13997.017,16383.443
#*# distance7 = 19.11
#*# distance7_pos1 = 14215.806,14013.273,16241.797
#*# distance7_pos2 = 15602.273,13392.699,15520.520
#*# distance8 = 19.2
#*# distance8_pos1 = 15523.010,13452.036,15439.863
#*# distance8_pos2 = 16307.883,14092.368,14105.961
#*# distance9 = 19.055
#*# distance9_pos1 = 16169.638,14111.365,14123.536
#*# distance9_pos2 = 15474.656,15519.241,13520.148
#*# distance10 = 19.245
#*# distance10_pos1 = 15394.880,15439.341,13579.633
#*# distance10_pos2 = 14084.411,16250.342,14240.524
#*# distance11 = 19.025000000000002
#*# distance11_pos1 = 14101.074,16109.198,14258.293
#*# distance11_pos2 = 13498.043,15411.413,15672.777
